Package: iesavellaneda-tools
Version: 2022.11.25.09.40-a33pcprofesor
Section: base 
Priority: optional 
Architecture: all
Homepage: https://github.com/alvarogonzalezsotillo/iesavellaneda-tools
Depends: crudini libnotify-bin, sudo, zenity, tmux, tcpdump, git, htop, sshfs, epoptest-client
Recommends: kdialog, zsh, gromit-mpx, openboard, pssh
Maintainer: alvaro.gonzalezsotillo@educa.madrid.org
Description: Cosas que les ponemos a los ordenadores con linux en el IES Alonso de Avellaneda
