Package: iesavellaneda-tools
Version: 2023.02.09.11.40-a33pcprofesor
Section: base 
Priority: optional 
Architecture: all
Homepage: https://github.com/alvarogonzalezsotillo/iesavellaneda-tools
Depends: crudini, libnotify-bin, sudo, zenity, tmux, tcpdump, git, htop, sshfs, epoptes-client, exfat-fuse, exfat-utils
Recommends: kdialog, zsh, gromit-mpx, openboard, pssh
Maintainer: alvaro.gonzalezsotillo@educa.madrid.org
Description: Cosas que les ponemos a los ordenadores con linux en el IES Alonso de Avellaneda
