[Desktop Entry]
Name=Informe de cuota
Name[en]=Quota report 
Exec=/usr/bin/informe-de-cuota-loop.sh
Terminal=false
Type=Application
Icon=informe-de-cuota
Categories=Settings;System;

